html {
    font-family: 'Inter', sans-serif;
    background-color: #E5E5E5;
}

nav {
    padding: .8rem;
    background-color: lightgray;
    text-align: center;
}

.brand {
    color: #1e1a2f;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    vertical-align: middle;
}

.logo {
    width: 3.5rem;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}

.brand h2 {
    display: inline-block;
}

.btn-primario {
    
    box-sizing: border-box;
    background-color: #1e1a2f;
    color: white;
    font-size: 16px;
    border: #1e1a2f 1px solid;
    border-radius: 24px;
    display:inline-block;
    padding: 1rem;
    width: 20rem;
    margin: 0.75rem;

}

.btn-primario:hover {
    background-color: #181527;
}

.btn-secundario {
    box-sizing: border-box;
    background-color: #D8DFE8;
    color: #1e1a2f;
    border: #1e1a2f 1px solid;
    border-radius: 24px;
    font-size: 16px;
    padding: 1rem;
    flex-direction: row;
    width: 20rem;
    margin: .75rem;
}

.btn-terciario {
    box-sizing: border-box;
    background-color: white;
    color: #1e1a2f;
    border: #1e1a2f 1px solid;
    border-radius: 24px;
    padding: 1rem;
    flex-direction: row;
    width: 328px;
    height: 50px;
}

footer {
    text-align: end;
    color: white;
    background-color: #1e1a2f;
    padding: 2rem;
}

.tip {
    color: #495057;
    text-align: start;
}

.container-encriptador {
    display: inline-block;
    padding: 2.5rem;
    text-align: center;
    
}

.container-encriptador textarea {
    width: 100%;
    height: 20rem;
    margin-bottom: 0.5rem;
    color: #1e1a2f;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}

.container-resultado {
    text-align: center;
    display: inline-block;
    background-color: white;
    border-radius: 24px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: .65rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.container-resultado textarea {
    width: 100%;
    height: 20rem;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #1e1a2f;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}

.texto-encriptado {
    display: none;
}

.no-encontrado {
    margin: 2rem;
}

.no-encontrado h4 {
    color: #343A40;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.no-encontrado p {
    color:#495057;
    font-size: 16px;
}

.img-no-encontrado {
    width: 90%;
    margin-bottom: 0.5rem;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    
}

@media only screen and (max-width: 768px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .img-no-encontrado {
        display: none;
    }

    footer {
        text-align: center;
    }

}

@media only screen and (min-width: 769px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

}